@import "./Card.scss";

.card-group {
  flex-grow: 1;
}

svg {
  width: 100%;
  height: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-between !important;
  margin-top: auto;
  flex-wrap: nowrap !important;
  flex-direction: row;
  padding: .75rem 0 !important;
  padding-bottom: 0 !important;
}

.back-cover {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-bottom {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

